# Classic
wildmage/tra/czech/**.tra                  working-tree-encoding=cp1250
wildmage/tra/french/**.tra                 working-tree-encoding=cp1252
wildmage/tra/german/**.tra                 working-tree-encoding=cp1252
wildmage/tra/hungarian/**.tra              working-tree-encoding=cp1250
wildmage/tra/italian/**.tra                working-tree-encoding=cp1252
wildmage/tra/korean/**.tra                 working-tree-encoding=cp949
wildmage/tra/polish/**.tra                 working-tree-encoding=cp1250
wildmage/tra/portuguese/**.tra             working-tree-encoding=cp1252
wildmage/tra/russian/**.tra                working-tree-encoding=cp1251
wildmage/tra/spanish/**.tra                working-tree-encoding=cp1252
wildmage/tra/swedish/**.tra                working-tree-encoding=cp1252
wildmage/tra/schinese/**.tra               working-tree-encoding=cp936
wildmage/tra/tchinese/**.tra               working-tree-encoding=cp950
wildmage/tra/ukrainian/**.tra              working-tree-encoding=cp1251
wildmage/tra/vietnamese/**.tra             working-tree-encoding=cp1258

# Classic or EE console, RU/UA
wildmage/**/russian/**/install.tra         working-tree-encoding=cp866
wildmage/**/russian/**/setup.tra           working-tree-encoding=cp866
wildmage/**/ukrainian/**/install.tra       working-tree-encoding=cp866
wildmage/**/ukrainian/**/setup.tra         working-tree-encoding=cp866

# EE only
wildmage/tra/**/ee.tra                     working-tree-encoding=utf8
wildmage/tra/**/*_ee.tra                   working-tree-encoding=utf8

# Linux console
wildmage/**/setup-unix.tra                 working-tree-encoding=utf8
wildmage/**/setup-osx.tra                  working-tree-encoding=utf8

# Windows console, other languages
wildmage/tra_ee/czech/*-win32.tra          working-tree-encoding=cp1250
wildmage/tra_ee/french/*-win32.tra         working-tree-encoding=cp1252
wildmage/tra_ee/german/*-win32.tra         working-tree-encoding=cp1252
wildmage/tra_ee/hungarian/*-win32.tra      working-tree-encoding=cp1250
wildmage/tra_ee/italian/*-win32.tra        working-tree-encoding=cp1252
wildmage/tra_ee/korean/*-win32.tra         working-tree-encoding=cp949
wildmage/tra_ee/polish/*-win32.tra         working-tree-encoding=cp1250
wildmage/tra_ee/portuguese/*-win32.tra     working-tree-encoding=cp1252
wildmage/tra_ee/russian/*-win32.tra        working-tree-encoding=cp866
wildmage/tra_ee/spanish/*-win32.tra        working-tree-encoding=cp1252
wildmage/tra_ee/swedish/*-win32.tra        working-tree-encoding=cp1252
wildmage/tra_ee/schinese/*-win32.tra       working-tree-encoding=cp936
wildmage/tra_ee/tchinese/*-win32.tra       working-tree-encoding=cp950
wildmage/tra_ee/ukrainian/*-win32.tra      working-tree-encoding=cp866
wildmage/tra_ee/vietnamese/*-win32.tra     working-tree-encoding=cp1258

*.tbaf linguist-language=TypeScript
